/* CSS for survey page */
h1,
.h1 {
  color: #006633;
}
.headdding {
  border: #006633;
  border-style: solid;
  border-width: 5px;
  box-shadow: 10px 5px 5px #006633;
}
body {
  background-color: #f6f6f6;
}
.required-field::after {
  content: "*";
  color: red;
  margin-left: 2px;
}

/* Adjust the margins and padding of the form elements */
.form-group {
  margin-bottom: 15px; /* Adds spacing between form groups */
}

.form-control {
  margin: 5px 0; /* Adds top and bottom margin to form controls */
}

/* If you have labels in your form, you can adjust their margins as well */
label {
  margin-bottom: 5px;
  display: block; /* This makes the label take the full width, pushing the input down */
}

/* Adjust the button spacing if needed */
button {
  margin: 10px 5px; /* Adds margin around buttons */
}

/* Update the wholediv for overall form styling */
.wholediv {
  width: 80%;
  margin: 30px auto;
  padding: 20px; /* Adds padding inside the wholediv for spacing */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
}

/* If you're using a container for checkboxes and radio buttons, you can adjust them too */
.checkbox-container, .radio-container {
  margin: 10px 0;
}



.successbutton {
  background-color: #006633;
}

.failbutton {
  background-color: maroon;
}

.text-center {
  text-align: center;
}
